@import './styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.icon {
  font-size: 30px;
}

Button {
  border: none;
  cursor: pointer;
}
